* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

img {
  width: 25%;
  height: auto;
}

/* ==========header=========== */
header {
  background-color: #f3e8de;
}
header .header-content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* position: sticky;
  top: 0; */
  margin-left: 1rem;
  margin-right: 1rem;
}

a {
  text-decoration: none;
}

.navbar {
  display: none;
}
.button-order a {
  display: none;
  background-color: #3f2214;
  color: #f3e8de;
  padding: 5px 16px;
  border-radius: 25px;
}

/* ========main======== */

/* ======hero===== */
.hero {
  background-color: #3f2214;
  padding: 0 0 5rem 0;
}
.hero-button {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: ;
}
.button-menu a {
  background-color: #f8c52c;
  color: #3f2214;
  padding: 5px 36px;
  border-radius: 25px;
}
.button-order-hero a {
  background-color: #f8c52c;
  color: #3f2214;
  padding: 5px 16px;
  border-radius: 25px;
}
.hero-content {
  text-align: center;
  padding: 10rem;
  /* max-width: 360px; */
  color: #f3e8de;
}

h1 {
  font-size: 28px;
  padding-bottom: 10px;
  line-height: 50px;
  font-style: italic;
}
h2 {
  font-size: 46px;
  font-weight: 600;
  padding-bottom: 15px;
}

/* ===============About============ */
main .about {
  background-color: #f3e8de;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.media-block {
  margin: 2rem;
  display: flex;
  justify-content: center;
}
.img-inside {
  width: 90%;
}

.content-block {
  margin: 1rem 3rem;
}

/* =============Menu============== */

.menu {
  background-color: #3f2214;
  padding: 0;
}
/* =============common============== */

/* .main-content {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
} */

/* .button {
  display: inline-block;
  min-width: 150px;
  text-align: center;
  padding: 0px 16px;
  line-height: 50px;
  color: #f3e8de;
  background-color: #3f2214;
  border-radius: 25px;
  font-weight: 600;
} */

/* .header {
  background-color: #f3e8de;
}


.header .header-top {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.nav {
  display: none;
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  background-color: #f8c52c;
  font-size: 1rem;
  color: #3f2214;
  padding: 1rem 0.5rem;
}
.nav a:hover {
  color: #f8c52c;
  font-weight: 600;
}

.header .btn-order-online {
  min-width: 110px;
  margin-left: 20px;
}
.action {
  margin-left: auto;
} */
